@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black, #232323);
  background: var(--white, #fcfcfc);
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1234px;
  width: 100%;
  margin-top: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  width: 212px;
}

nav a {
  color: var(--black, #232323);
  font-weight: 800;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: var(--dark-gray, #525252);
}

nav .text-align-left {
  text-align: right;
}

#hero {
  margin-top: 57px;
  text-align: center;
}

#hero .hero-img {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

#hero h1 {
  font-size: 41px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin: 33px 0;
}

#hero p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}

#hero button {
  margin-top: 100px;
  width: 170px;
  height: 60px;
  border-radius: 11px;
  background: var(--orange, #eb760e);
  border: none;
  color: var(--white, #fcfcfc);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon-content img {
  margin-right: 12px;
}

section {
  margin-top: 279px;
  width: 100%;
  max-width: 1232px;
}

section h2 {
  text-align: center;
  font-weight: 800;
  font-size: 39px;
  text-transform: uppercase;
  margin: 0;
}

#projects ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-top: 130px;
}

#projects ul li {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  height: 248px;
}

#stack ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-top: 159px;
}

#stack ul li {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  height: 172px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .form-input {
  margin-top: 114px;
  display: flex;
  min-height: 478px;
  width: 598px;
  flex-direction: column;
}

#contact .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

#contact .form-group .validation-message {
  margin: 0;
  margin-top: 6px;
  color: var(--red, #ff2c2c);
  font-size: 14px;
  font-weight: 500;
  display: none;
}

#contact input {
  height: 65px;
}

#contact textarea {
  resize: none;
  height: 199px;
}

#contact input,
#contact textarea {
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  color: var(--black, #232323);
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: var(--light-gray, #cacaca);
}

#contact .touched:invalid {
  border: 2px solid var(--red, #ff2c2c);
}

#contact .form-group:has(.touched:invalid) .validation-message {
  display: block;
}

#contact button {
  color: var(--white, #fcfcfc);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  width: 170px;
  height: 60px;
  border-radius: 11px;
  background: var(--orange, #eb760e);
  border: none;
  margin-top: 57px;
  cursor: pointer;
}

#contact button:disabled {
  background: gray;
  cursor: inherit;
}

#contact .social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 170px;
  padding: 0;
  margin-top: 71px;
}

#contact .social-media li {
  width: 36px;
  height: 36px;
}

#contact .social-media .linkedin {
  background: url("./images/linkedin.svg");
}

#contact .social-media .github {
  background: url("./images/github.svg");
}

#contact .social-media .whatsapp {
  background: url("./images/whatsapp.svg");
}

.success-display {
  margin-top: 108px;
  display: none;
}

#contact .success-display img {
  margin-left: -40px;
}

#contact .success-message-text {
  margin: 0;
  margin-top: 14px;
  text-align: center;
  color: var(--dark-gray, #525252);
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
}
